* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: sticky;
  top: -1px;
}
.logo {
  margin-left: 5%;
  font-weight: bolder;
  font-size: 36px;
}
.header-links {
  margin-left: auto;
  margin-right: 5%;
  display: flex;
  gap: 3em;
}

.header-links a {
  text-decoration: none;
  color: #f9faf8;
}

.first-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #1f2937;
  color: #f9faf8;
  gap: 30px;
  flex-wrap: wrap;
}

.container-content {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex: initial;
}

.heading1 {
  font-size: 5em;
  font-weight: bolder;
}
#quote {
  width: 100%;
  font-size: 1.125em;
  color: #e5e7eb;
}

#topImage {
  width: 100%;
  height: 400px;
}

.mySlides {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.item-container {
  display: flex;
  flex-direction: row;
  height: 400px;
}
.item-container-reverse {
  display: flex;
  flex-direction: row-reverse;
  height: 400px;
}
.img-container {
  max-width: 50%;
  width: 50%;
}
.item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 50%;
  width: 50%;
  height: 400px;
  padding: 5em;
  gap: 30px;
}
.item-details h2 {
  font-size: 39px;
}
.item-details p {
  font-size: 20px;
  font-weight: lighter;
}
/* @import url(https://fonts.googleapis.com/css?family=Roboto:300,400); */
/* @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css); */
.testimonials {
  display: flex;
  flex-direction: row;
  background-color: #e5e7eb;
  justify-content: space-evenly;
  margin-top: 15px;
}
figure.snip1390 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #1f2937;
  padding: 30px;
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 5px 10px #aaaaaa;
  border-radius: 10px;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #A6A57A;
}

.third-container {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
  gap: 15px;
}
.signup input {
  width: 60%;
  height: 40%;
  border-radius: 5px;
  padding: 20px;
  outline: none;
}
.signup input::placeholder{
  font-size: 18px;
}
.signup a {
  width: 65px;
  height: 40%;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
footer {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.page-links a {
  text-decoration: none;
  color: white;
}

.page-links {
  display: flex;
  gap: 15px;
}
